h2 {
  text-align: center;
  line-height: 24px;
}

.module-box {
  background-color: #A5C8D0;

  margin: 8px;
  height: 48px;
  display: table;
  width: 100%;
  display: flex;
  align-items: center;
}

.module-box.required {
  background-color: #DACDA2;
}

.module-box.unavailable {
  display: none;
}

.module-box.double {
  height: 96px;
}

.module-box.mich {
  width: 80%;
}

.module-box.epip {
  margin-left: 23%;
  width: 80%;
}

.module-box.triple {
  height: 144px;
}

.module-box input[type="checkbox"] {
  display: table-cell;
  transform: scale(2);
  width: 13%;
}

input[type="checkbox"]:checked {
  background-color: #68246D;
  border-color: #68246D;
}

.module-text {
  display: table-cell;
  text-align: center;
  width: 87%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.module-code, .module-name {
  display: block;
  width: 87%;
  line-height: 24px;
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
